Hi Pedro. I'm Svetlana and will review your project. I've added all my comments to new cells with different coloring. Please don't delete my comments.


The first time I see a mistake, I'll just point it out and let you find it and fix it yourself. In a real job, your boss will do the same, and I'm trying to prepare you to work as an Data Scientist. But if you can't handle this task yet , I'll give you a more accurate hint at the next check.

<div class="alert alert-success" role="alert">
Reviewer's comment v. 1:
    
If you did something great I'm using green color for my comment
</div>

<div class="alert alert-warning" role="alert">
Reviewer's comment v. 1:
    
If I want to give you advice or think that something can be improved, then I'll use yellow. This is an optional recommendation.
</div>

<div class="alert alert-danger" role="alert">
Reviewer's comment v. 1:
    
If the topic requires some extra work so I can accept it then the color will be red
</div>

## Review v. 1 <a class="tocSkip">

Thank you so much for submitting your project! While there's room for improvement, on the whole, your project is looking good. There are few things that need to be corrected in your project. They're mostly minor issues that are easy to fix. There are also some comments for improvement. They don’t mean that you’ve done anything wrong, but they’re things we wanted to point out that can help you further develop your skills. I believe you can easily fix it! 

## Review v. 2 <a class="tocSkip">

Your corrections look great, you've improved your work significantly! I'm glad to say that your project has been accepted. Keep up the good work, and good luck on the next sprint!

<div class="alert alert-warning" role="alert">
Reviewer's comment v. 1:
    
It will be nice to add a table of contents with links and a goal of the project.

Please see for details: https://www.markdowntutorial.com/
</div>

# 1st Project Yandex Practicum Course 
## Credit worthiness
### [Link for project discription](https://practicum.yandex.com/learn/data-scientist/courses/e57c3caa-8ca8-4f01-a9a3-cf0ec078529e/sprints/4247/topics/1b213493-2ce7-4849-ba9d-46959ee96516/lessons/88614f89-48f8-4ce4-9db3-4141dd4f56d9/)

### Resume:
- Find out if a customer’s marital status and number of children has an impact on whether they will default on a loan

<div class="alert alert-warning" role="alert">
Reviewer's comment v. 2:
    
Please see the following example. Sorry, but your link doesn't work.
    
# Table of contents
1. [Introduction](#introduction)
2. [Some paragraph](#paragraph1)
    1. [Sub paragraph](#subparagraph1)
3. [Another paragraph](#paragraph2)
    
## This is the introduction <a name="introduction"></a>
Some introduction text, formatted in heading 2 style
    
## Some paragraph <a name="paragraph1"></a>
The first paragraph text### Sub paragraph <a name="subparagraph1"></a>
This is a sub paragraph, formatted in heading 3 style
    
## Another paragraph <a name="paragraph2"></a>
The second paragraph text
</div>

# Step 1.

Open the data file /datasets/credit_scoring_eng.csv and have a look at the general information.

In [1]:
import pandas as pd
from nltk.stem import SnowballStemmer

try:
    credit_data = pd.read_csv('credit_scoring_eng.csv')
except:
    credit_data = pd.read_csv('/datasets/credit_scoring_eng.csv')

ModuleNotFoundError: No module named 'nltk'

<div class="alert alert-success" role="alert">
Reviewer's comment v. 1:
    
Well done for using try-except for the path to the file.
</div>

In [2]:
credit_data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase
2,0,-5623.422610,33,Secondary Education,1,married,0,M,employee,0,23341.752,purchase of the house
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding
5,0,-926.185831,27,bachelor's degree,0,civil partnership,1,M,business,0,40922.170,purchase of the house
6,0,-2879.202052,43,bachelor's degree,0,married,0,F,business,0,38484.156,housing transactions
7,0,-152.779569,50,SECONDARY EDUCATION,1,married,0,M,employee,0,21731.829,education
8,2,-6929.865299,35,BACHELOR'S DEGREE,0,civil partnership,1,F,employee,0,15337.093,having a wedding
9,0,-2188.756445,41,secondary education,1,married,0,M,employee,0,23108.150,purchase of the house for my family

In [3]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Analyse data
- We can see that we have a table with 12 columns each column provides info related to members that ask for a credit.
- Also we can manage to see which Data type each column haves in their entries

<div class="alert alert-danger" role="alert">
Reviewer's comment v. 1:
    
Please add headings "Step 1. Open the data file, Step 2. Preprocess the data and so on".
</div>

<div class="alert alert-success" role="alert">
Reviewer's comment v. 2:
    
Well done that you added headings to the project :)
</div>

# Step 2. Preprocess the data

- Identify and fill in missing values
- Replace the real number data type with the integer type
- Delete duplicate data
- Categorize the data

In [4]:
credit_data.isnull().sum() #count missing values

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [5]:
total_income_avg = credit_data['total_income'].mean()

In [6]:
#fill missing values with 0 
credit_data['days_employed'] = credit_data['days_employed'].fillna(value=0) 
#fill missing values with average income of customers 
credit_data['total_income'] = credit_data['total_income'].fillna(value=total_income_avg)

## Processing Missing values

- I wasn't able to figure out a pattern in the missing data, therefore I assumed that the that missing was completely at random (MCAR). Possible causes can go from human error to lack of information when individual members applied for a credit.
- For total_income I decided to substitute missing values with the column average. Since missing values correspond to 10% of the total data, I considered that average on the population for this makes sense. Even considering that maximum and minimum results are considerably distant, for this type of analysis I didn't consider that would make an impact. 
- For days_employed I decided to substitue the missing values by 0 since is a column that I did not use in my code.

<div class="alert alert-danger" role="alert">
Reviewer's comment v. 1:
    
Could you please explain a possible reasons of a missing values? Why have decided decided to substitute for the column average?
    
Additional links: https://jakevdp.github.io/PythonDataScienceHandbook/03.04-missing-values.html, https://thispointer.com/python-pandas-count-number-of-nan-or-missing-values-in-dataframe-also-row-column-wise/,
https://www.geeksforgeeks.org/working-with-missing-data-in-pandas/
</div>

<div class="alert alert-success" role="alert">
Reviewer's comment v. 2:
    
Ok, a reasonable explanations :)
</div>

In [7]:
credit_data = credit_data.astype({'days_employed':'int', 'total_income':'int'}) #transforming real numbers into integer

In [8]:
credit_data['education'] = credit_data['education'].str.lower() #transform string in lower case
credit_data['purpose'] = credit_data['purpose'].str.lower() #transform string in lower case

<div class="alert alert-success" role="alert">
Reviewer's comment v. 1:
    
It's great that you bring columns to the lower case. This can be important when we checking for duplicates.
</div>

In [9]:
#get to know education list
print(list(set(credit_data['education'])))

['graduate degree', 'some college', "bachelor's degree", 'primary education', 'secondary education']

In [10]:
#get to know purpose list
print(list(set(credit_data['purpose'])))

['housing transactions', 'buy real estate', 'to get a supplementary education', 'property', 'going to university', 'buying property for renting out', 'having a wedding', 'purchase of my own house', 'real estate transactions', 'car', 'to own a car', 'to become educated', 'to have a wedding', 'wedding ceremony', 'supplementary education', 'car purchase', 'to buy a car', 'transactions with my real estate', 'second-hand car purchase', 'purchase of a car', 'building a property', 'buy commercial real estate', 'education', 'purchase of the house', 'housing', 'building a real estate', 'buying my own car', 'buying a second-hand car', 'cars', 'getting higher education', 'university education', 'purchase of the house for my family', 'housing renovation', 'getting an education', 'buy residential real estate', 'construction of own property', 'transactions with commercial real estate', 'profile education']

In [11]:
#get to know family list
print(list(set(credit_data['family_status'])))

['unmarried', 'divorced', 'widow / widower', 'civil partnership', 'married']

In [12]:
#get to know income type list
print(list(set(credit_data['income_type'])))

['paternity / maternity leave', 'entrepreneur', 'retiree', 'business', 'unemployed', 'student', 'employee', 'civil servant']

In [13]:
from nltk.stem import SnowballStemmer
english_stemmer = SnowballStemmer('english')

#define keywords to deal with duplicates 
words_purpose = ['education','unversity','car','porperty','estate','house','wedding', 'primary', 'secondary', 'businee', 
                 'entrepreneur', 'servant', 'divorced', 'unmarried', 'partnership']
for word in words_purpose:
    print(english_stemmer.stem(word))

educ
unvers
car
porperti
estat
hous
wed
primari
secondari
busine
entrepreneur
servant
divorc
unmarri
partnership

In [14]:
#function to treat duplicate in education column
def keyword_stem_education (query):
    for word in query.split(' '):
        stemmed_word = english_stemmer.stem(word)
        if stemmed_word == 'primari':
            return 'primary'
        if stemmed_word == 'secondari':
            return 'secondary'

    return 'university'

In [15]:
#function to treat duplicate in purpose column
def keyword_stem_purpose (query):
    for word in query.split(' '):
        stemmed_word = english_stemmer.stem(word)
        if stemmed_word == 'educ' or stemmed_word == 'univers':
            return 'education'
        if stemmed_word == 'car':
            return 'car'
        if stemmed_word == 'properti' or stemmed_word == 'estat' or stemmed_word == 'hous':
            return 'house'
        if stemmed_word == 'wed':
            return 'wedding'

    return 'other'

In [16]:
#function to treat duplicate in income type column
def keyword_stem_income (query):
    for word in query.split(' '):
        stemmed_word = english_stemmer.stem(word)
        if stemmed_word == 'busine' or stemmed_word == 'entrepreneur':
            return 'business'
        if stemmed_word == 'servant':
            return 'employee'

    return query

In [17]:
# pull functions to treat duplicates keywords
credit_data['purpose_id'] = credit_data['purpose'].apply(keyword_stem_purpose)
credit_data['education_id'] = credit_data['education'].apply(keyword_stem_education)
credit_data['income_id'] = credit_data['income_type'].apply(keyword_stem_income)

In [18]:
credit_data_upd = credit_data.drop(['education', 'purpose', 'income_type'], axis=1)

In [19]:
credit_data_upd.loc[credit_data_upd['children'] == -1, 'children'] = 1 #convert children -1 to 1 and consider as a typo

In [20]:
credit_data_upd.loc[credit_data_upd['children'] == 20, 'children'] = 2 #convert children 20 to 2 and consider as a typo

<div class="alert alert-danger" role="alert">
Reviewer's comment v. 1:
    
Could you please describe an anomalies in data? What is a possible reasons of it?
</div>

## Anomalies in data

- In this database one two anomalies pop up in the children column. We have members with **-1** value and others with **20**. 
    - For the **-1** it could be more than one possible cause, lack of information how to read the data, and therefore not knowing what **-1** meands for the bank. Another possible cause could be a typo. For this project I assumed that **-1** was members that had underage children that they are already reach adult age. Therefore I transformed the **-1** into **1** because I do believe that still makes a correlation between having children and not repaying a loan in time. Our data doesn't provide information of when (time related field) the member stop paying their loan therefore I couldn't assume that was when the children was underage or already adults.
    - For the **20** I assumed as input typo, and considered it as human error. Therefore I change **20** children to **2** children per member.
- Another inconsistency in the data was **purpose** column, that allows for any type of entry. Where I decided to use stemming method to make new data categorizatin column that was based on the column **purpose** (also explaineed in the markdown **To get to know my data better**)

<div class="alert alert-success" role="alert">
Reviewer's comment v. 2:
    
Yes, you can also change "-1" and "20" values to "1" and "2", respectively. It looks like a misprints.
</div>

In [21]:
credit_data_upd.duplicated().sum() #count number duplicates

455

In [22]:
credit_data_upd = credit_data_upd.drop_duplicates(keep='last') #delete duplicates

In [23]:
credit_data_upd.duplicated().sum()  #confirm that I don't have duplicates

0

## To get to know my data better
- I decided to standardize the float entries to int and make my strings all lower cases to be more easy to search for key words using the stemming method in order to create new data categorization columns. Also treated some typos in the children column to new values. After this treatment I felt comfortable deleting the duplicates.

<div class="alert alert-success" role="alert">
Reviewer's comment v. 2:
    
Well done for using the stemming method.
    
Maybe this link will be interesting for you: https://stackabuse.com/python-for-nlp-tokenization-stemming-and-lemmatization-with-spacy-library/ 
</div>

# Step 3. Answer these questions:

- Is there a connection between having kids and repaying a loan on time?
- Is there a connection between marital status and repaying a loan on time?
- Is there a connection between income level and repaying a loan on time?
- How do different loan purposes affect on-time loan repayment?

In [2]:
#built function to transform my data table into a table that allows me to read 
#properly the data in order to answer the questions asked

def table_transf (table,a,b,c): # a, b, c are columns names 

    new_table = table.groupby(by=[a,b]).count()
    new_table = new_table[[c]]
    new_table = new_table.rename(columns = {c : 'members'})
    new_table['ratio by total count(%)'] = (new_table['members'] / new_table['members'].sum()*100).round(2)
    x = new_table.groupby([a,b])['members'].sum()
    y = new_table.groupby([a])['members'].sum()
    new_table['ratio by categoy(%)'] = (x / y * 100).round(2)
    print(new_table)

In [25]:
#Is there a relation between having kids and repaying a loan on time?
table_transf(credit_data_upd,'children','debt','purpose_id')

               members  ratio by total count(%)  ratio by categoy(%)
children debt
0        0       12738                    60.46                92.32
         1        1060                     5.03                 7.68
1        0        4338                    20.59                90.70
         1         445                     2.11                 9.30
2        0        1909                     9.06                90.43
         1         202                     0.96                 9.57
3        0         302                     1.43                91.79
         1          27                     0.13                 8.21
4        0          36                     0.17                90.00
         1           4                     0.02                10.00
5        0           9                     0.04               100.00

## Is there a relation between having kids and repaying a loan on time?

- Most of the people that ask for a credit don't have children.
- The higher the number of children the less they ask from a credit.
- The percentage of people that don't pay their credit on time it's very similar between categories, from a range of 7.7% to 10%
- I would conclude that people that have kids have more than 90% of probability on paying ther loan on time.

In [26]:
#Is there a relation between marital status and repaying a loan on time?
table_transf(credit_data_upd,'family_status','debt','purpose_id')

                        members  ratio by total count(%)  ratio by categoy(%)
family_status     debt
civil partnership 0        3734                    17.72                90.59
                  1         388                     1.84                 9.41
divorced          0        1107                     5.25                92.87
                  1          85                     0.40                 7.13
married           0       11107                    52.71                92.29
                  1         928                     4.40                 7.71
unmarried         0        2504                    11.88                90.14
                  1         274                     1.30                 9.86
widow / widower   0         880                     4.18                93.32
                  1          63                     0.30                 6.68

<div class="alert alert-success" role="alert">
Reviewer's comment v. 1:
    
Please note that you can also use a correlation function to check dependency between variables. However, please take into account that it shows only linear dependecy between variables. Maybe this link will be interesting for you: https://machinelearningmastery.com/how-to-use-correlation-to-understand-the-relationship-between-variables/.
</div>

## Is there a relation between marital status and repaying a loan on time?

- Most of the people that ask for a loan are married or in a civil partnership therefore most of the people that ask for a loan are in legal relationship.
- From each category more than 90% the people pay their debts on time. Therefore maritial status doesn't play a big role to analyse repaying a loan on time

In [27]:
#Is there a relation between income level and repaying a loan on time?
#For the income lever it was created a new column to categorize the income in relation to the median income 
#The median was use in this case instead of the average due to very different minimum and maximum values in the income column

aux = credit_data_upd['total_income'].median() #auxiliar calculus variable 
pc50 = aux*0.5

filter1 = (credit_data_upd['total_income'] == aux)
credit_data_upd.loc[filter1, 'Income_Category'] = '2 - Median'

filter2 = (credit_data_upd['total_income'] > aux) & (credit_data_upd['total_income'] <= aux + pc50)
credit_data_upd.loc[filter2, 'Income_Category'] = '3 - ]Median ; Median + 50%*Median]'

filter3 = (credit_data_upd['total_income'] > pc50+aux)
credit_data_upd.loc[filter3, 'Income_Category'] = '4 - ]Median + 50%*Median; +infinity['

filter4 = (credit_data_upd['total_income'] < aux-pc50)
credit_data_upd.loc[filter4, 'Income_Category'] = '0 - ]-inifitniy ; Median - 50%*Median['

filter5 = (credit_data_upd['total_income'] < aux) & (credit_data_upd['total_income'] >= aux - pc50)
credit_data_upd.loc[filter5, 'Income_Category'] = '1 - ]Median ; Median - 50%*Median]'

In [28]:
table_transf(credit_data_upd,'Income_Category','debt','purpose_id')

                                             members  ratio by total count(%)  \
Income_Category                        debt
0 - ]-inifitniy ; Median - 50%*Median[ 0        1852                     8.79
                                       1         148                     0.70
1 - ]Median ; Median - 50%*Median]     0        7803                    37.03
                                       1         731                     3.47
2 - Median                             0           1                     0.00
                                       1           1                     0.00
3 - ]Median ; Median + 50%*Median]     0        6458                    30.65
                                       1         618                     2.93
4 - ]Median + 50%*Median; +infinity[   0        3218                    15.27
                                       1         240                     1.14

                                             ratio by categoy(%)
Income_Category                        debt
0 - ]-inifitniy ; Median - 50%*Median[ 0                   92.60
                                       1                    7.40
1 - ]Median ; Median - 50%*Median]     0                   91.43
                                       1                    8.57
2 - Median                             0                   50.00
                                       1                   50.00
3 - ]Median ; Median + 50%*Median]     0                   91.27
                                       1                    8.73
4 - ]Median + 50%*Median; +infinity[   0                   93.06
                                       1                    6.94

<div class="alert alert-warning" role="alert">
Reviewer's comment v. 2:
    
Could you please analyse this table clearly?
</div>

## Is there a relation between income level and repaying a loan on time?

- From this analysis in can't figure a relation between income level and repaying a loan on time, since most of the members inside of each category have a probability for paying their loan on time above 91%. Less the median category that I used as starting point to do my analysis.

In [29]:
table_transf(credit_data_upd,'purpose_id','debt','income_id')

                 members  ratio by total count(%)  ratio by categoy(%)
purpose_id debt
car        0        3865                    18.34                90.58
           1         402                     1.91                 9.42
education  0        3585                    17.01                90.67
           1         369                     1.75                 9.33
house      0        9762                    46.33                92.59
           1         781                     3.71                 7.41
wedding    0        2120                    10.06                91.93
           1         186                     0.88                 8.07

## How do different loan purposes affect on-time repayment of the loan?

- From this analysis it's not able to find a correlation between the purpose of the loan and their affect on-time repayment. We can only confirm that most of the loans applications are for a house related category.

<div class="alert alert-warning" role="alert">
Reviewer's comment v. 2:
    
Ok, but try to make more detailed conclusions from data analysis.
</div>

# Step 4. Write an overall conclusion.

## General Conclusion

- The data provided to try to correlate different variables with the probability of failing a credit payment in my opinion proved to be short for the analysis requested.
- I believe that a good metric for finding a correlation would be to know if customers were employed at the time of payment failure. Another metric suggestion would be to cross-check data on how many credits the customer had simultaneously when they start to fail to pay their debit. Unfortunately with the data provided, such an analysis is not possible.
- In addition, the data contained some anomalies, including errors in data insertion and lack of categorization, making analysis difficult.
- From this data set I wasn't able to discover a relation between on-time loan repayment and their cause. From the 4 analysis that I made the categories show that more than 90% of the members will repay their loan on time.
- Probably using an analysis with more advanced maths, using methods of correlation and dependance, I would be able to find a link between not paying a loan on time and their cause even with this data, but at this stage I am not confortable yet to do such analysis with Python. Yet I know that Python does have specific methods to do this type of analysis. Also a ploting a graph would be usefull for this type of analysis. Still it's something that the course didn't cover yet.
- Para um primeiro projecto em python, sinto-me bastante contente com os resultados que obtive depois de pouco mais de 30 horas de aprendizagem pela plataform.

<div class="alert alert-danger" role="alert">
Reviewer's comment v. 1:
    
Please add a general conclusion. It's important part of the project which contains all main findings.
</div>

<div class="alert alert-success" role="alert">
Reviewer's comment v. 2:
    
well done. all main results of the project described. Please write your project in English :)
    
"Para um primeiro projecto em python, sinto-me bastante contente com os resultados que obtive depois de pouco mais de 30 horas de aprendizagem pela plataform."    
</div>